<!DOCTYPE html>
<html>
<head>
    <title>Student Details Form</title>
</head>
<body>
    <h2>Enter Student Details</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if student_details %}
        <h2>Student Details:</h2>
        <textarea rows="10" cols="50" readonly>{{ student_details }}</textarea>
        
        <h2>Total Percentage:</h2>
        <label>{{ percentage }}%</label>
    {% endif %}
</body>
</html>
